{% extends "base.html" %}
{% block link %}
    {% include "partial/link_header.html" %}
{% endblock %}
{% block title %}Редактирование задачи{% endblock %}

{% block content %}
    <h1 class="title_create_good pt-5 pb-4 text-center">Редактирование Проекта</h1>
    <div class="d-flex justify-content-center">
        <div class="card mb-3 text-center "
             style="background-color: #ce1565; border: 3px solid darkblue; border-radius: 10%; width: 600px;">
            <div class="card-body">
                    {% include "partial/partial_form/form.html" with button_text="Обновить" %}
            </div>
        </div>
    </div>

{% endblock %}